// bourbon.io: Sass的简单轻便的mixin库。
//
// 导入：@import '~@/common/scss/mymixin.scss';
// 使用：@include xx();

// 右边竖向分割线
@mixin right-bar($right:-8px) {
  margin-right: 10px;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: 2px;
    right: $right;
    height: 15px;
    // 1px
    border-right: 1px solid #999;
    transform: scaleY(0.5);
  }
}

// 2x 3x 背景图片
@mixin bg-image($name) {
  background-image: url($name + '@2x.png');
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($name + "@3x.png");
  }
}

// 文本溢出省略号显示 (默认1行)
@mixin ellipsis($line: 1){
  @if $line == 1 {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  @else {
    display: -webkit-box !important;
    -ms-text-overflow: ellipsis;
    text-overflow:ellipsis;
    overflow: hidden;
    // word-break: break-all; // 断词
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

// 扩展点击区域
@mixin extend-click() {
  // position: abosulte;
  // right: 0;
  // top: 0;
  // padding: 20px;

  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}

// 遮罩层
@mixin over-screen($pos: 'fixed') {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // 全屏遮罩
  @if $pos == 'fixed' {
    position: fixed;
  }
  // 区域遮罩
  @else if $pos == 'absolute' {
    position: absolute;
  }
}

// 子元素 默认水平垂直居中
@mixin child-center($mode: 'xy') {
  display: flex;
  // 垂直居中
  @if $mode == 'y' {
    align-items: center;
  }

  // 水平居中
  @else if $mode == 'x' {
    justify-content: center;
  }
  // 水平垂直居中
  @else if $mode == 'xy' {
    align-items: center;
    justify-content: center;
  }
}

// 当前元素 默认水平垂直居中
@mixin cur-center($w: 0px, $h: 0px) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $w;
  height: $h;
  // margin-top: -($h / 2);
  // margin-left: -($w / 2);
  transform: translate(-50%, -50%);
}

// 移动端 1px 边框问题
@mixin onepx-y($mode: 'top', $borderColor: rgba(7, 17, 27, 0.1), $lastHide: false) {
  // 低级用法：
  //      border-bottom: 1px solid rgba(7, 17, 27, 0.1);
  // 中级用法：
  //      box-shadow: inset 0px 1px 1px -1px #c8c7cc;
  //      box-shadow: inset 0px -1px 1px -1px #c8c7cc;
  // 高级用法：

  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid $borderColor;
    transform: scaleY(0.5);
  }

  @if $mode == 'top' {
    &:after {
      top: 0;
    }
  }
  @if $mode == 'bottom' {
    &:after {
      bottom: 0;
    }
  }
  @if $lastHide {
    &:last-child {
      &:after {
        border-top: 0;
      }
    }
  }
}
@mixin onepx-x($mode: 'left', $borderColor: rgba(7, 17, 27, 0.1), $lastHide: false) {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px solid $borderColor;
    transform: scaleX(0.5);
  }

  @if $mode == 'left' {
    &:after {
      left: 0;
    }
  }
  @if $mode == 'right' {
    &:after {
      right: 0;
    }
  }
  @if $lastHide {
    &:last-child {
      &:after {
        border-left: 0;
      }
    }
  }
}
@mixin onepx-yy($borderColor: rgba(7, 17, 27, 0.1)) {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid $borderColor;
    transform: scaleY(0.5);
    top: -1.5px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $borderColor;
    transform: scaleY(0.5);
    bottom: 0;
  }
}

// Logo 搜索引擎优化
// <h1><a href="https://cn.wordpress.org/" title="首页">WordPress.org</a></h1>
@mixin better-logo($name) {
  display: block;
  background: url($name) center left no-repeat;
  background-size: 303px 53px;
  width: 303px;
  height: 88px;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
}

// 将文字设置为透明
@mixin text-hide() {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

// 给盒子添加阴影
@mixin shadow() {
  box-shadow: 0px 1px 2px 0px rgba(84, 107, 107, 0.40);
  transition: all .5s ease-out;
  &:hover{
    box-shadow: -2px 10px 20px -1px rgba(84, 107, 107, 0.40);
    transition: all .3s ease-in;

    // transform: translateY(-3px);
    // box-shadow: 1px 1px 20px #999;
  }
}


// 商品图片
@mixin square-img() {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// 设置除顶部外其他盒子位移至顶部以下
@mixin box-position($positionTop: 40px) {
  width: 100%;
  top: $positionTop;
  position: relative;
}

// 给标题文字前后添加横杠
@mixin title-bar() {
  height: 40px;
  line-height: 40px;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #333;
    &:before {
      content: '';
      position: absolute;
      top: 20px;
      left: -45px;
      width: 30px;
      // 1px
      border-top: 1px solid #333;
      transform: scaleY(0.5);
    }
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      right: -43px;
      width: 30px;
      // 1px
      border-top: 1px solid #333;
      transform: scaleY(0.5);
    }
  }
}

// 新增信息的徽章提示
.msg-badge {
  position: relative;
  span {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 8px;
  }
}

@mixin scrollbar() {
  overflow:-moz-scrollbars-none;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
      rgba(0, 0, 0, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(0, 0, 0, .2) 50%,
      rgba(0, 0, 0, .2) 75%,
      transparent 75%,
      transparent)
  }
}
